@import "rose-pine-main.css";

:root {
    --zen-colors-primary: var(--base) !important;
    --zen-primary-color: var(--base) !important;
    --zen-colors-secondary: var(--surface) !important;
    --zen-colors-tertiary: var(--overlay) !important;
    --zen-colors-border: var(--iris) !important;
    --toolbarbutton-icon-fill: var(--love) !important;
    --lwt-text-color: var(--text) !important;
    --toolbar-field-color: var(--text) !important;
    --tab-selected-textcolor: var(--iris) !important;
    --toolbar-field-focus-color: var(--text) !important;
    --toolbar-color: var(--text) !important;
    --newtab-text-primary-color: var(--text) !important;
    --arrowpanel-color: var(--text) !important;
    --arrowpanel-background: var(--overlay) !important;
    --sidebar-text-color: var(--text) !important;
    --lwt-sidebar-text-color: var(--text) !important;
    --lwt-sidebar-background-color: var(--base) !important;
    --toolbar-bgcolor: var(--base) !important;
    --newtab-background-color: var(--overlay) !important;
    --zen-themed-toolbar-bg: var(--base) !important;
    --zen-main-browser-background: var(--base) !important;
}

#permissions-granted-icon {
    color: #181825 !important;
}

.sidebar-placesTree {
    background-color: var(--surface) !important;
}

#zen-workspaces-button {
    background-color: var(--surface) !important;
}

#urlbar-background {
    background-color: var(--surface) !important;
}

.tab-background[selected=""] {
    background: var(--overlay) !important;
}

.content-shortcuts {
    background-color: var(--surface) !important;
    border-color: #89b4fa !important;
}

.urlbarView-url {
    color: var(--iris) !important;
}

#zenEditBookmarkPanelFaviconContainer {
    background: var(--base) !important;
}

toolbar .toolbarbutton-1 {
    &:not([disabled]) {

        &:is([open], [checked])> :is(.toolbarbutton-icon,
            .toolbarbutton-text,
            .toolbarbutton-badge-stack) {
            fill: var(--base);
        }
    }
}

hbox.zen-essentials-container tab:not([zen-glance-tab="true"])>.tab-stack>.tab-content::after {
    visibility: hidden !important;
    opacity: 0;
    /* In order to not hide the tab title. [Can't make this work. It still hides the title] */
    /* Also, display: none; doesn't seem to work */
    width: 0;
    margin: 0;
}

.zen-essentials-container {
  &[data-hack-type="2"] {
    grid-template-columns: repeat( auto-fit, minmax(max(24%, 48px), 1fr) minmax(max(24%, 48px), 1fr) ) !important;
  }
}
